<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @question.correct %>
</p>

<p>
  <strong>Fakes:</strong>
  <%= @question.fakes %>
</p>

<p>
  <strong>Times used:</strong>
  <%= @question.times_used %>
</p>

<p>
  <strong>Times correct:</strong>
  <%= @question.times_correct %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
