<div id="outer-container">
	<h1><%= @name %></h1>
	<h1>Score: <%= @score %></h1>
	<h1>Question <%= @counter %> of 10</h1>
	<div id="inner-container">
		<div id="question-row">
			<div id="image">
				<%= image_tag(@question.image_url, height: "150", width:"100%") %>
			</div>
			<h1>Question: <%= @question.content %></h1>
		</div>
		<div id="userinput-row">
			<%= form_for :index, url: index_path(:question_id => @question.id, :user_answer => :ans) do %>
				<%= text_field_tag(:answer) %>
				<%= submit_tag("Continue", :class => "submit") %>
			<% end %>
		<script type="text/javascript">
		 $(function(){  
		   setTimeout(function(){
		      $('form').submit();
		    },10000);
		});
		</script>
		</div>
	</div>
</div>
<div id="timer-container">
	<div class="timerBar"></div>
</div>