<p>Find me in app/views/play/index.html.erb</p>

<div>
	<div id="questionContainer"> <!-- Question -->
		
		<div class="questionContent">
			<h2><%= @question.content %></h2>
		</div>
	</div>
	<div id="answerContainer"> <!-- Answers -->

		<%= form_tag "set_user_answer", remote: true do %>
			<div id="answerGroup">
  				<%= submit_tag @answer_array.at(0).upcase, class: "answerContent" %>
  				<%= submit_tag @answer_array.at(1).upcase, class: "answerContent" %>
  			</div>
  			<div id="answerGroup">
  				<%= submit_tag @answer_array.at(2).upcase, class: "answerContent" %>
  				<%= submit_tag @answer_array.at(3).upcase, class: "answerContent" %>
  			</div>
  			<div id="answerGroup">	
  				<%= submit_tag @answer_array.at(4).upcase, class: "answerContent" %>
  				<%= submit_tag @answer_array.at(5).upcase, class: "answerContent" %>
  			</div>
		<% end %>

		</div>
	<div class="timerBar"></div>
</div>
