<p>Find me in app/views/play/index.html.erb</p>

<div>
	<div id="questionContainer"> <!-- Question -->
		
		<div class="questionContent">
			<h2><%= @question.content %></h2>
		</div>
	</div>
	<div id="answerContainer"> <!-- Answers -->

		<%= submit_tag 'set_user_answer'%>
		<%= submit_tag '0' %>
    	
		
		<%= i = 1 %>
		<%= 3.times do%>
			<div id="answerGroup">
				<%= submit_tag @answer_array.at(i-1).upcase, data: { data_disable_with: "Please wait..." }, class: "answerContent" %>
				<%= submit_tag @answer_array.at(i).upcase, data: { data_disable_with: "Please wait..." }, class: "answerContent" %>
			</div>	
			<% i += 2 %>
		<% end %>
		</br>

		<div id="answerGroup">
			<%= button_to "Answer 1", { class: "answerContent" } do %>
				<strong><%= @answer_array.at(0).upcase %></strong>
			<% end %>

			<%= submit_tag @answer_array.at(0).upcase, data: { data_disable_with: "Please wait..." }, class: "answerContent" %>

			<%= button_tag "Answer 1", data: { disable_with: "Please wait..." }, class: "answerContent" do%>
				<% content_tag :strong, @answer_array.at(0).upcase %>
			<% end %>

			<!-- Group of answers; size depends on total number of answers -->
		</div>
	</div>
	<div class="timerBar"></div>
</div>
