<div id="outer-container">
	<h1>Score: <%= @score %></h1>
	<div id="inner-container">
		<div id="question-row">
			<h1>Question: <%= @question.content %></h1>
		</div>
		<%= form_for :results, url: results_path(:question_id => @question.id, :user_answer => @user_answer), :html => { :id => "index-form" } do %>
			<div class="answer-group">
				<%= submit_tag @answer_array.at(0), :class => "answer-content" %>
				<%= submit_tag @answer_array.at(1), :class => "answer-content" %>
				<%= submit_tag @answer_array.at(2), :class => "answer-content" %>			
			</div>
			<div class="answer-group">
				<%= submit_tag @answer_array.at(3), :class => "answer-content" %>				
				<%= submit_tag @answer_array.at(4), :class => "answer-content" %>
				<%= submit_tag @answer_array.at(5), :class => "answer-content" %>
			</div>			
		<% end %>
	</div>
</div>
<div id="timer-container">
	<div class="timerBar"></div>
</div>