<div>
	<h1>Score: <%= @score %></h1>
	<div id="questionContainer"> <!-- Question -->
		<div class="questionContent">
			<h2>Question: <%= @question.content %></h2>
		</div>
	</div>
	<div id="answerContainer"> <!-- Answers -->
		<%= form_for :results, url: results_path(:question_id => @question.id, :user_answer => @user_answer) do %>
			<div id="answerGroup">
				<%= submit_tag @answer_array.at(0), :class => "answerContent" %>
				<%= submit_tag @answer_array.at(1), :class => "answerContent" %>
			</div>
			<div id="answerGroup">
				<%= submit_tag @answer_array.at(2), :class => "answerContent" %>
				<%= submit_tag @answer_array.at(3), :class => "answerContent" %>
			</div>
			<div id="answerGroup">
				<%= submit_tag @answer_array.at(4), :class => "answerContent" %>
				<%= submit_tag @answer_array.at(5), :class => "answerContent" %>
			</div>			
		<% end %>
	</div>
	<div class="timerBar"></div>
</div>