<div id="outer-container">
	<h1>Score: <%= @score %></h1>
	<div id="inner-container">
		<div id="question-row">
			<h1>Question: <%= @question.content %></h1>
		</div>
		<hr>
		<div id="answer-row">
			<h2>Correct Answer: <%= @question.correct %></h2>
			<h2>You Entered: <%= @user_answer %></h2>
			<h2>You Chose: <%= @user_choice %></h2>
			<h2>Answer Statistics</h2>
			<h2>Most Picked Choice: <%= @maximumoutput %></h2>
			<h2>Correct Choice: <%= @correctoutput %></h2>
				<table>
				  <thead>
				    <tr>
				      <th>Answer</th>
				      <th>Count</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @maximumarray.each do |x| %>
				      <tr>
				        <td><%= x.content %></td>
				        <td><%= x.count %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
		</div>
		<%= form_for :get_input, url: get_input_path(:question_id => @id ), :html => { :id => "continue-form" } do %>
			<%= submit_tag("Continue", :class => "submit", id: @question.id) %>
		<% end %>
	</div>
</div>
<div id="results-container">
	<div id="results-content">
		<h1><%= @winner %></h1>
	</div>
</div>