<div id="results-container">
	<div id="results-content">
		<h1><%= @winnerinput %></h1>
		<h1><%= @winnerselect %></h1>
	</div>
</div>
<div id="outer-container">
	<h1>Score: <%= @score %></h1>
	<h1>Question <%= @counter %> of 10</h1>
	<p>java <%= @java %></p>
	<div id="inner-container">
		<div id="question-row">
			<h1>Question: <%= @question.content %></h1>
		</div>
		<hr>
		<div id="answer-row">
			<h2>Correct Answer: <%= @question.correct %></h2>
			<h2>You Entered: <%= @user_answer %></h2>
			<h2>You Chose: <%= @user_choice %></h2>
			<h2>Answer Statistics</h2>
			<h2>Most Picked Choice: <%= @maximumoutput %></h2>
			<h2>Correct Choice: <%= @correctoutput %></h2>
				<table class="highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-datalabels-enabled="1"><caption>Pie Chart of Answers</caption>
				  <thead>
				    <tr>
				      <th>Answer</th>
				      <th>Count</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @maximumarray.each do |x| %>
				      <tr>
				        <td><%= x.content %></td>
				        <td data-graph-name=<%= x.content %>><%= x.count %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<script>
					$(document).ready(function() {
					  $('table.highchart')
					    .bind('highchartTable.beforeRender', function(event, highChartConfig) {
					        highChartConfig.chart.backgroundColor = 'ghostwhite';
					  })
					    .highchartTable()
					  ;
					});
				</script>
		</div>
		<%= form_for :get_input, url: get_input_path(:question_id => @id ), :html => { :id => "continue-form" } do %>
			<%= submit_tag("Continue", :class => "submit", id: @question.id) %>
		<% end %>
		<%= form_for :play_stats, url: play_stats_path, method: "get", :html => { :id => "stats-form" } do %>
			<%= submit_tag("Stats", :class => "submit") %>
		<% end %>
		<%= @btn_js %>
	</div>
</div>
