<div id="outer-container">
	<h1>Score: <%= @score %></h1>
	<div id="inner-container">
		<div id="question-row">
			<h1>Your Final Score: <%= @score %></h1>
		</div>
		<hr>
		<div id="answer-row">
				<table>
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Count</th>
				      <th>Date</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @highscores.each do |x| %>
				      <tr>
				        <td><%= x.name %></td>
				        <td><%= x.score %></td>
				        <td><%= x.created_at.getlocal.asctime %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
		</div>

	</div>
</div>
<div id="results-container">
	<div id="results-content">
	</div>
</div>